<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CrashReporter.NET.Official" version="1.5.5" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.3.1" targetFramework="net452" />
  <package id="ThreadGun" version="1.2.1.1" targetFramework="net452" />
</packages>